  <!-- .row>.col*2 -->

<template>
  <div class="row">
    <div class="col">
      <ItemsList :items="playlists" :selected="selected" @placki="selectPlaylist($event)" />
    </div>
    <div class="col">
      <div v-if="mode == 'show' && selected">
        <PlaylistDetails :playlist="selected" />
        <input type="button" value="Edit" class="btn btn-info" @click="mode = 'edit' " />
      </div>

      <div v-if="mode == 'edit' && selected">
        <PlaylistForm :playlist="selected" @cancel="cancel()" @save="save($event)" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ItemsList from "../components/ItemsList.vue";
import PlaylistDetails from "../components/PlaylistDetails.vue";
import PlaylistForm from "../components/PlaylistForm.vue";

export default Vue.extend({
  components: {
    ItemsList,
    PlaylistDetails,
    PlaylistForm
  },
  data: () => ({
    mode: "show",
    selected: null,
    playlists: []
  }),
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.$http
        .get("http://localhost:3000/playlists", {}, {})
        .then(response => {
          this.playlists = response.data;
        });
    },
    selectPlaylist(p: any) {
      this.selected = p;
    },
    cancel() {
      this.mode = "show";
    },
    save(draft: any) {
      this.mode = "show";

      this.$http
        .put("http://localhost:3000/playlists/" + draft.id, draft)
        .then(response => {
          this.fetchData();
          this.selected = draft;
        });
    }
  }
});
</script>