<template>
  <div>
    <h1>Testowy</h1>
    <p>{{ message }}</p>
  </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
  data: () => {
    return {
        message: "placki"
    }
  },
  methods: {}
});
</script>