<template>
  <div>
    <div class="list-group">
      <div
        class="list-group-item"
        :class="{  
          active: selected && selected.id == playlist.id
        }"
        @click=" select(playlist) "
        v-for="(playlist,i) in items"
        :key="playlist.id"
      >{{i+1}}. {{playlist.name}}</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["items", "selected"],
  methods: {
    select(playlist: any) {
      this.$emit("placki", playlist);
    }
  }
});
</script>