    <!-- .form-group*3>label+input.form-control     -->
<template>
  <div>
    <!-- <pre>{{ playlist }}</pre> -->

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" v-model="draft.name" />
      {{ 170 - draft.name.length }} / 170
    </div>

    <div class="form-group">
      <label>Favorite:</label>
      <input type="checkbox" v-model="draft.favorite" />
    </div>

    <div class="form-group">
      <label>Color:</label>
      <input type="color" class="form-control" v-model="draft.color" />
    </div>

    <input type="button" value="Cancel" class="btn btn-danger" @click=" $emit('cancel',draft)  " />
    <input type="button" value="Save" class="btn btn-success" @click=" $emit('save',draft)  " />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: ["playlist"],
  data: () => ({
    draft: null
  }),
  watch: {
    playlist: {
      handler(selectedPlaylist) {
        // this.draft = Object.assign({},selectedPlaylist)
        // this.draft = JSON.parse(JSON.stringify(selectedPlaylist))
        this.draft = { ...selectedPlaylist };
      },
      immediate: true
    }
  }
});
</script>