<template>
    <dl v-bind:title=" playlist.name " :id="playlist.id">
      <dt>Name:</dt>
      <!-- <dd v-text="playlist.name"></dd> -->
      <!-- <dd v-html="playlist.description"></dd> -->
      <dd>{{ playlist.name }} </dd>

      <dt>Favorite:</dt>
      <dd>{{ playlist.favorite ? 'Yes' : 'No' }}</dd>

      <dt>Color:</dt>
      <dd
        style="border: 1px solid gray"
        :style="{ 
          color: playlist.color, 
          background: playlist.color
        }"
      >{{ playlist.color }}</dd>
    </dl>
</template>

<script lang="ts">

import Vue from "vue";
export default Vue.extend({
  props:['playlist']
});
</script>

