<template>
  <!-- .container>.row>.col>h1{Tytuł} -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{ title }}</h1>

        <router-link to="about">about</router-link> |
        <router-link to="home">home</router-link> |
        <router-link to="playlists">playlists</router-link>

        <router-view />
      </div>
    </div>
  </div>
</template>

<style src="bootstrap/dist/css/bootstrap.css"></style>

<script lang="ts">
import Vue from "vue";
import Playlists from "./views/Playlists.vue";

export default Vue.extend({
  components: {
    Playlists: Playlists
    // Playlists,
    // "playlists-view": Playlists
  },
  data: () => {
    return {
      title: "Test"
    };
  }
});
</script>